@import '../../styles/global.scss';

.heroContainer {
  color: #fff;
  background: linear-gradient(-225deg, rgba(#000, 0.7) 0%, rgba(#000, 0.8) 30%),
    url(../../assets/images/hero.webp) no-repeat fixed center;
  background-size: cover;
  height: 94.6rem;
  padding: 29rem 2.2rem 0;
}

.heroContent {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: 1440px;

  h1 {
    font-size: 5.7rem;
    max-width: 75rem;
  }

  span {
    font-size: 2.5rem;
    margin-bottom: 0.5rem;
  }

  button {
    background: $color-accent;
    margin-top: 4rem;
  }

  a {
    align-self: center;
  }
}

@media screen and (min-width: 580px) {
  .heroContainer {
    padding: 29rem 6rem 0;
  }

  .heroContent {
    h1 {
      font-size: 8rem;
    }

    span {
      font-size: 3rem;
    }

    a {
      align-self: initial;
    }
  }
}
