@import './themes/theme';

$color-accent: #ee5253;

// Soft reset
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::placeholder {
  @include themed() {
    color: t('placeholder-color');
  }
}

html {
  font-size: 62.5%; // 1rem = 10px
}

// Typography
body,
button,
input {
  background: $light-background;
  color: $light-text-color;
  font-family: 'Roboto', 'Helvetica', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  font-size: 2.2rem;
  line-height: 1.2;
}

h1,
h2,
h3 {
  font-size: 8rem;
  font-weight: 700;
}

h2 {
  font-size: 5rem;
}

// Buttons
button {
  border-radius: 8px;
  border: none;
  color: #fff;
  cursor: pointer;
  line-height: 1.2;
  max-height: 6rem;
  overflow: hidden;
  padding: 1.6rem 6rem;
  transition: background-color 0.3s;
  white-space: nowrap;
  transition: filter 0.2s ease-in-out;

  &:focus {
    outline: none;
  }

  &:hover {
    filter: brightness(0.85);
  }
}

// Links
a {
  color: #fff;
  text-decoration: none;
  transition: filter 0.2s ease-in-out;

  &:hover {
    filter: brightness(0.9);
  }
}

// Inputs
input {
  border-radius: 8px;
  border: 1px solid #cdcdcd;
  font-size: 1.8rem;
  height: 6rem;
  line-height: 3rem;
  padding: 1.4rem;
  flex: 1;

  &:focus {
    outline: none;
  }

  @include themed() {
    background: t('main-background');
    color: t('text-color');
  }
}

// Light/Dark mode
main {
  @include themed() {
    background: t('main-background');
    color: t('text-color');
  }
}

footer {
  @include themed() {
    background: t('footer-background');
    color: t('text-color');
  }
}

form {
  > label {
    @include themed() {
      color: t('label-color');
    }
  }
}

.aboutUsContainer-dark::after {
  @include themed() {
    background: t('footer-background');
  }
}
