$color-text-light: #fff;
$color-text-dark: #333;
$color-accent: #ee5253;

// Soft reset
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::placeholder {
  color: #bbb;
}

html {
  font-size: 62.5%; // 1rem = 10px
}

// Typography
body,
button,
input {
  color: $color-text-dark;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  font-size: 2.2rem;
  line-height: 1.2;
}

h1,
h2,
h3 {
  font-size: 8rem;
  font-weight: bold;
}

h2 {
  font-size: 5rem;
}

// Buttons
button {
  border-radius: 8px;
  border: none;
  color: $color-text-light;
  cursor: pointer;
  line-height: 1.2;
  max-height: 6rem;
  outline: none;
  overflow: hidden;
  padding: 1.6rem 6rem;
  transition: background-color 0.3s;
  white-space: nowrap;
}

// Links
a {
  color: $color-text-light;
  text-decoration: none;
}

// Inputs
input {
  border-radius: 8px;
  border: 1px solid #cdcdcd;
  font-size: 1.8rem;
  height: 6rem;
  line-height: 3rem;
  padding: 1.4rem;
  flex: 1;
}
