.contactContainer {
  height: 38.1rem;
  margin: 0 auto;
  max-width: 1020px;
  padding: 0 1.6rem;

  display: flex;
  flex-direction: column;
  justify-content: center;

  @media screen and(max-width: 720px) {
    margin-bottom: 12rem;
  }

  p {
    margin: 2.1rem 0 4rem;
  }

  > form {
    display: flex;
    flex-direction: column;
    gap: 2.2rem;

    @media screen and (min-width: 720px) {
      align-items: flex-end;
      flex-direction: row;
      justify-content: space-between;
    }

    .formControl {
      flex: 1;

      label {
        display: block;
        font-size: 1.4rem;
        font-weight: bold;
        line-height: 1.5;
      }

      input {
        width: 100%;
      }
    }

    button {
      background: #10ac84;
      max-width: 30rem;

      @media screen and(max-width: 720px) {
        align-self: center;
      }
    }
  }
}
