.formContainer {
  margin: 0 auto;
  max-width: 1020px;
  padding: 7rem 1.6rem 8rem;

  display: flex;
  flex-direction: column;

  p {
    margin: 2.1rem 0 4rem;
  }
}

.formContent {
  display: flex;
  flex-direction: column;
  gap: 2.2rem;

  @media screen and (min-width: 780px) {
    align-items: flex-start;
    flex-direction: row;
    justify-content: space-between;
  }

  .formControl {
    flex: 1;

    label {
      display: block;
      font-size: 1.4rem;
      font-weight: 700;
      line-height: 1.5;
    }

    input {
      width: 100%;

      &.error {
        border: 1px solid tomato;
      }
    }

    > span {
      color: tomato;
      font-size: 1.7rem;
    }
  }

  > button {
    background: #10ac84;
    margin-top: 2rem;
    max-width: 30rem;

    @media screen and(max-width: 780px) {
      align-self: center;
    }
  }
}
